<style>
    .selected {
        background-color: green;
    }
</style>
<div ng-controller="includeController">
    用了ng-include，原来的标签内部的子孙标签都将被include的页面的内容所替换。
    
    <p>这里也是被include的页面里的内容。</p>

    <label for="type">
        选择
        <input type="radio" name="selected" ng-model="selected" ng-value="true" />
    </label>
    <label for="type">
        取消
        <input type="radio" name="selected" ng-model="selected" ng-value="false" />
    </label>
    <div ng-class="{selected: selected}">{{selected?"已选中":"未选中"}}</div>
</div>