<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Angular Directive</title>
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
        <style>
            .main-nav {
                padding: 0 16px;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
            }
            md-list-item > button {
                width: 100%;
                text-align: left !important;
            }
            .main-nav nav {
                cursor: pointer;
            }
            .directive {
                border: 1px solid #ccc;
                padding: 5px;
            }
        </style>

        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    </head>
    <body ng-app="DAPP" layout="column" ng-init="isSideNavOpen=false;page='self-defined';" ng-controller="indexController">
        <md-toolbar layout="row" class="main-nav">
            <nav>
                <h3 ng-click="isSideNavOpen=!isSideNavOpen">Angular Directive (Click Me)</h3>
            </nav>
        </md-toolbar>
        <div flex layout="row">
            <md-sidenav class="md-sidenav-left" md-is-open="isSideNavOpen">
                <md-list>
                    <md-list-item>
                        <a href="javascript:void(0);" ng-click="changePage('self-defined')">slef-defined</a>
                    </md-list-item>
                    <md-list-item>
                        <a href="javascript:void(0);" ng-click="changePage('ng-select')">ng-select</a>
                    </md-list-item>
                </md-list>
            </md-sidenav>

            <md-content id="self-defined" ng-if="'self-defined'===page" flex layout="row" layout-padding>
                <div flex>
                    <div>Scope参数：</div>
                    <br/>
                    <div>
                        Scope参数主要是为了创建一个独立于父作用域的新作用域。
                    </div>
                    <br/>
                    <div>
                        <div>对象参数：</div>
                        <div class="directive">
                            <div ng-init="testScopeObject='init object';">blank object - 父作用域中初始化：</div>
                            <code>testScopeObject = 'init object';</code>
                            <div>
                                scope = {}: {{ testScopeObject }}
                                <div scope-object></div>
                            </div>
                        </div>
                        <div class="directive">
                            <div>bind with @ ( 单向绑定 )</div>
                            outer input <input type="text" ng-init="textA='baidu'" ng-model="textA"/><br/>
                            <div bind-strategy-at url="http://www.baidu.com" link-text="{{textA}}">
                                outer div
                                <div> inner div </div>
                            </div>
                        </div>
                        <div class="directive">
                            <div>bind with = ( 双向绑定 )</div>
                            outer input <input type="text" ng-init="textB='baidu'" ng-model="textB"/><br/>
                            <div bind-strategy-equal url="http://www.baidu.com" link-text="textB">
                                outer div
                                <div> inner div </div>
                            </div>
                        </div>
                        <div class="directive">
                            <div>bind with & ( 函数绑定 )</div>
                            <div bind-strategy-and done="showInput(input)">
                            </div>
                        </div>
                    </div>
                </div>
            </md-content>

            <md-content id="ng-select" ng-if="'ng-select'===page" flex layout="row" layout-padding ng-controller="selectController">
                <div flex>
                    <div>
                        <span>
                            Model = 
                        </span>
                        <code>{{stringArray}}</code>
                    </div>
                    <br/>
                    <div>
                        <span>Code: </span>
                        <code>ng-options="item for item in stringArray"
                        </code>
                    </div>
                    <br/>
                    <select ng-model="selectedItem" ng-options="item for item in stringArray">
                        <option value="">Choose Item</option>
                    </select>
                    <div> Selected value: {{selectedItem}} </div>
                </div>
                <div flex>
                    <div>
                        <span>
                            Model = 
                        </span>
                        <code>{{objectArray}}</code>
                    </div>
                    <br/>
                    <div>
                        <span>Code: </span>
                        <code>ng-options="object.name for object in objectArray"
                        </code>
                    </div>
                    <br/>
                    <select ng-model="selectedUser" ng-options="object.name for object in objectArray">
                        <option value="">Choose User</option>
                    </select>
                    <div> Selected value: {{ selectedUser }} </div>
                </div>
                <div flex>
                    <div>
                        <span>
                            Model = 
                        </span>
                        <code>{{objectArray}}</code>
                    </div>
                    <br/>
                    <div>
                        <span>Code: </span>
                        <code>ng-options="object.name as object.name for object in objectArray"
                        </code>
                    </div>
                    <br/>
                    <select ng-model="selectedUserName" ng-options="object.name as object.name for object in objectArray">
                        <option value="">Choose User's Name</option>
                    </select>
                    <div> Selected value: {{ selectedUserName }} </div>
                </div>
                <div flex>
                    <div>
                        <span>
                            Model = 
                        </span>
                        <code>{{objectArray}}</code>
                    </div>
                    <br/>
                    <div>
                        <span>Code: </span>
                        <code>ng-options="object.id as object.name for object in objectArray"</code>
                    </div>
                    <br/>
                    <select ng-model="selectedUserId" ng-options="object.id as object.name for object in objectArray">
                        <option value="">Choose User's Id</option>
                    </select>
                    <div> Selected value: {{ selectedUserId }} </div>
                </div>
            </md-content>
        </div>

        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
